<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>

    <meta name="description"
          content="Веб-приложение для загрузки GPS-треков, анализа маршрутов и поиска аномальных точек с помощью алгоритмов LOF, Isolation Forest и HDBSCAN.">

    <meta name="robots" content="noindex, nofollow">

    <link rel="canonical" href="http://outlier-detector.online/error-page">

    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="../static/css/general.css" th:href="@{/css/general.css}">
    <link rel="stylesheet" href="../static/css/error-page.css" th:href="@{/css/error-page.css}">
</head>
<body>
    <p class="logo">Траектория</p>

    <section class="error-section">
        <div class="error-card">
            <div class="status" th:text="${status}">400</div>
            <div class="error" th:text="${error}">Bad Request</div>

            <h3>Описание ошибки</h3>
            <div class="message" th:text="${message}">
                Сообщение об ошибке
            </div>

            <a href="/upload">Вернуться к загрузке файла</a>
        </div>
    </section>

</body>
</html>